.movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  
}

.poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.title {
  font-size: 20px;
  margin: 10px 0;
}

.description {
  font-size: 14px;
}

.rating {
  font-size: 16px;
  font-weight: bold;
}
