.app {
  background-color: #222222;
  padding: 20px;
  margin: 0 auto;
  max-width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}
body {
  background-color: #111111;
  color: #ffffff;
}
